<header>
<h3 class="confirm">以下の内容で、投稿する</h3>
</header>
<%= form_with(model: @user, url: user_path(current_user.id), local: true) do |form| %>
  <p>
  <strong>Image:</strong><br>
  <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
  <%= form.hidden_field :image_cache %>
  </p>
  <%= form.submit "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
