<h2>プロフィール画像を編集</h2>

<%= form_with(model: @user, local: true ,url: choose_create_or_edit ) do |form| %>
<h1><%= @user.name %>のページ</h1>

<div class="field">
  <%= form.label :image %>
  <%= image_tag(@user.image.url) if @user.image.present? %>
  <%= form.file_field :image %>
  <%#= form.hidden_field :image_cache %>
</div>  

<%= form.submit %>

<% end %>